<div>

    <table>
        <tr>
            <td>EmpId: </td>
            <td>
                <span>{{ EmpModel.Id }}</span></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" ng-model="EmpModel.Name" /></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td>
                <input type="number" ng-model="EmpModel.Salary" /></td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Save Data" ng-click="AddData()" /></td>
            <td>
                <input type="button" value="Update Data" ng-click="UpdateData()" /></td>
        </tr>
    </table>

    <table border="1" style="width: 300px">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        </thead>
        <tr data-ng-repeat="Emp in EmpList" ng-click="BindSelectedData(Emp)">
            <td>{{ Emp.Id }}</td>
            <td>{{ Emp.Name }}</td>
            <td>{{ Emp.Salary | hidenumber }}</td>
            <td>
                <input type="button" value="Delete" ng-click="DeleteData(Emp)" /></td>
            <td>
                <input type="button" value="Update Data" ng-click="UpdateData()" /></td>
        </tr>
    </table>

</div>



